Repository MSBrett/maenifold, changes with the labels that .github/labeler.yml gives for each.
All labels: core, tools, tests, documentation, configuration, github-actions, security, performance, vscode, dependencies

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on file paths changed

# Core source code changes
core:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.cs'

# Tool changes
tools:
  - changed-files:
    - any-glob-to-any-file: 'src/Tools/**/*.cs'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'
    - any-glob-to-any-file: 'test-outputs/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.toml'
      - '**/*.props'
      - '**/*.csproj'

# GitHub Actions changes
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/MemoryTools.Write.cs'
      - '**/*Security*.cs'
      - '**/*Auth*.cs'
      - '**/*Validation*.cs'

# Performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/PerformanceBenchmark.cs'
      - '**/GraphTools.cs'
      - '**/VectorTools.cs'

# VSCode extension changes
vscode:
  - changed-files:
    - any-glob-to-any-file:
      - 'vscode/**/*'
      - 'visx/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/packages.lock.json'
      - '**/*.csproj'
      - '**/package.json'
      - '**/package-lock.json'

test(REQ-T.5,T.6): Add cross-browser and responsive testing results
  site/screenshots/chrome-desktop.png
  site/screenshots/firefox-desktop.png
  site/wave5c-cross-browser-testing.md
Labels: documentation

docs(RTM): Mark all 21/21 requirements complete - landing page production ready
  RTM.md
Labels: documentation

fix(NetworkBackground): Render static SVG placeholders on server to fix hydration
  site/app/components/NetworkBackground.tsx
Labels: none

fix(landing): Repair CSS bundling for custom keyframes in Tailwind 4
  site/app/globals.css
  site/tailwind.config.ts
Labels: none

fix(landing): Remove NetworkBackground component, re-enable gradient mesh
  docs/PRD-landing-page-redesign.md
  site/app/globals.css
  site/app/page.tsx
Labels: documentation

fix(ci): Add LFS caching to reduce bandwidth usage
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: configuration, github-actions

fix(ci): Disable automatic LFS fetch in checkout to enable caching
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: configuration, github-actions

feat(site): Add use cases documentation with professional navigation
  docs/PRD-use-cases.md
  site/app/components/Header.tsx
  site/app/start/page.tsx
  site/app/use-cases/dev-work/page.tsx
  site/app/use-cases/domain-extensibility/page.tsx
  site/app/use-cases/knowledge-foundation/page.tsx
  site/app/use-cases/page.tsx
  site/app/use-cases/product-team/page.tsx
Labels: documentation

fix(site): Replace broken /workflows link with /tools in dev-work page
  site/app/use-cases/dev-work/page.tsx
Labels: none

fix(site): Replace remaining /workflows link with /tools in domain-extensibility page
  site/app/use-cases/domain-extensibility/page.tsx
Labels: none

chore: Update repository URLs from MSBrett to msbrettorg
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  AGENT-DISPATCH-PLAN.md
  DISTRIBUTION.md
  README.md
  RELEASE_SUMMARY.md
  SECURITY.md
  distribution/winget/MaCollective.Maenifold.installer.yaml
  distribution/winget/MaCollective.Maenifold.locale.en-US.yaml
  docs/QUICK_RELEASE_GUIDE.md
  package.json
  site/app/components/Footer.tsx
  site/app/components/Header.tsx
  site/app/page.tsx
  site/lighthouse-performance.report.html
  site/lighthouse-performance.report.json
  site/lighthouse-production.report.html
  site/lighthouse-production.report.json
  site/screenshots/chrome-desktop.png
  site/screenshots/firefox-desktop.png
  site/wave3b-wcag-validation.md
  site/wave5a-performance-testing.md
  site/wave5b-accessibility-testing.md
  site/wave5c-cross-browser-testing.md
  src/assets/workflows/role-creation-workflow.json
Labels: documentation, configuration, github-actions, dependencies

fix(build): Remove sprint-baseline.txt from project root
  sprint-baseline.txt
Labels: none

chore: remove copilot instructions
  .github/copilot-instructions.md
Labels: documentation, github-actions

fix(P0): Complete critical security and accessibility fixes
  .gitignore
  assets/branding/maenifold-logo-1280x640.png
  distribution/homebrew/maenifold.rb
  distribution/winget/MaCollective.Maenifold.installer.yaml
  scripts/create-platform-packages.sh
  scripts/release.sh
  site/app/components/Header.tsx
  site/app/layout.tsx
  site/app/page.tsx
  site/app/tools/[slug]/page.tsx
  site/package-lock.json
  site/package.json
Labels: configuration, dependencies

fix: Prevent duplicate React keys in table of contents
  site/lib/tools.ts
Labels: none

Release: P0 Critical Fixes for Website (#10)
  .gitignore
  assets/branding/maenifold-logo-1280x640.png
  distribution/homebrew/maenifold.rb
  distribution/winget/MaCollective.Maenifold.installer.yaml
  scripts/create-platform-packages.sh
  scripts/release.sh
  site/app/components/Header.tsx
  site/app/layout.tsx
  site/app/page.tsx
  site/app/tools/[slug]/page.tsx
  site/lib/tools.ts
  site/package-lock.json
  site/package.json
Labels: configuration, dependencies

feat(RTM-BUG-DUP-H1-001): Prevent duplicate H1 headings in WriteMemory
  src/Tools/MemoryTools.Write.cs
Labels: core, tools, security

feat(BUG-DUP-H1-001): Prevent duplicate H1 headings in WriteMemory
  src/Tools/MemoryTools.Write.cs
Labels: core, tools, security

Fix: Prevent duplicate H1 headings in WriteMemory (BUG-DUP-H1-001) (#11)
  src/Tools/MemoryTools.Write.cs
Labels: core, tools, security

chore: Remove @ma-collective org scope from npm packages
  .github/workflows/release.yml
  package.json
  scripts/create-platform-packages.sh
  scripts/maenifold.js
  scripts/postinstall.js
Labels: configuration, github-actions, dependencies

chore: Remove @ma-collective org scope from npm packages (#12)
  .github/workflows/release.yml
  package.json
  scripts/create-platform-packages.sh
  scripts/maenifold.js
  scripts/postinstall.js
Labels: configuration, github-actions, dependencies

docs: Add badges and update npm package name in README
  README.md
Labels: documentation

docs: Update VS Code install badges to use proper vscode:mcp/install URLs
  README.md
Labels: documentation

docs: Remove VS Code install badges
  README.md
Labels: documentation

docs: Add native VS Code MCP install badges
  README.md
Labels: documentation
