Repository MSBrett/maenifold, changes with the labels that .github/labeler.yml gives for each.
All labels: core, tools, tests, documentation, configuration, github-actions, security, performance, vscode, dependencies

fix: Deploy pre-built static docs instead of building Next.js site
  .github/workflows/deploy-docs.yml
Labels: configuration, github-actions

feat: Centralize CSS and use logo blue theme instead of green
  docs-site/DEVELOPMENT.html
  docs-site/README.html
  docs-site/graph.html
  docs-site/graph.json
  docs-site/index.html
  docs-site/llm-bootstrap.html
  docs-site/llm-guide.html
  docs-site/style.css
  docs-site/tools/addmissingh1.html
  docs-site/tools/adopt.html
  docs-site/tools/analyzeconceptcorruption.html
  docs-site/tools/assumptionledger.html
  docs-site/tools/buildcontext.html
  docs-site/tools/deletememory.html
  docs-site/tools/editmemory.html
  docs-site/tools/extractconceptsfromfile.html
  docs-site/tools/findsimilarconcepts.html
  docs-site/tools/getconfig.html
  docs-site/tools/gethelp.html
  docs-site/tools/listmemories.html
  docs-site/tools/listworkflows.html
  docs-site/tools/memorystatus.html
  docs-site/tools/movememory.html
  docs-site/tools/readmemory.html
  docs-site/tools/recentactivity.html
  docs-site/tools/repairconcepts.html
  docs-site/tools/runfullbenchmark.html
  docs-site/tools/searchmemories.html
  docs-site/tools/sequentialthinking.html
  docs-site/tools/sync.html
  docs-site/tools/updateassets.html
  docs-site/tools/visualize.html
  docs-site/tools/workflow.html
  docs-site/tools/writememory.html
  scripts/build-docs.sh
Labels: configuration

feat: Improve site scannability and logo prominence
  docs-site/public/logo.svg
  docs-site/src/layouts/BaseLayout.astro
  docs-site/src/pages/technical-specs.astro
  docs-site/src/styles/global.css
Labels: none

feat: Add GitHub Pages deployment workflow
  docs-site/.github/workflows/deploy.yml
Labels: configuration

fix: Build Astro site before deploying to GitHub Pages
  .github/workflows/deploy-docs.yml
Labels: configuration, github-actions

fix: Configure base path for GitHub Pages deployment
  docs-site/astro.config.mjs
Labels: none

Remove GitHub Pages deployment workflow
  .github/workflows/deploy-docs.yml
Labels: configuration, github-actions

ci(pages): fix workflow cache path, setup-pages, concurrency, and manual dispatch
  .github/workflows/deploy-pages.yml
Labels: configuration, github-actions

fix(graph): inline client-only script into Landing layout to avoid SSR issues
  site/src/components/ForceGraph3D.astro
  site/src/layouts/Landing.astro
Labels: none

ci(build): disable legacy docs build step in csproj (Astro GH Pages now handles docs)
  src/Maenifold.csproj
Labels: configuration, dependencies

fix(csproj): remove stray formatting causing XML parse error (MSB4025)
  src/Maenifold.csproj
Labels: configuration, dependencies

fix(csproj): add XML declaration to satisfy MSBuild parser (CodeQL autobuild)
  src/Maenifold.csproj
Labels: configuration, dependencies

ci(codeql): replace autobuild with explicit dotnet restore/build for src+tests
  .github/workflows/codeql.yml
Labels: configuration, github-actions

ci(codeql): fix YAML (remove comment blob), only setup .NET for csharp matrix, explicit restore/build
  .github/workflows/codeql.yml
Labels: configuration, github-actions

fix: restore csproj and pages workflow
  .github/workflows/deploy-pages.yml
  site/src/layouts/Base.astro
  src/Maenifold.csproj
Labels: configuration, github-actions, dependencies

feat(site): redesign landing page and add documentation navigation
  docs/status-tracking/2025-10-27-layout-fixes.md
  site/.astro/settings.json
  site/astro.config.mjs
  site/src/layouts/Base.astro
  site/src/layouts/DocsLayout.astro
  site/src/layouts/Landing.astro
  site/src/layouts/MarkdownLayout.astro
  site/src/pages/index.mdx
  site/src/pages/usage/index.astro
  site/src/pages/usage/tools/addmissingh1.md
  site/src/pages/usage/tools/adopt.md
  site/src/pages/usage/tools/analyzeconceptcorruption.md
  site/src/pages/usage/tools/buildcontext.md
  site/src/pages/usage/tools/deletememory.md
  site/src/pages/usage/tools/editmemory.md
  site/src/pages/usage/tools/extractconceptsfromfile.md
  site/src/pages/usage/tools/findsimilarconcepts.md
  site/src/pages/usage/tools/getconfig.md
  site/src/pages/usage/tools/gethelp.md
  site/src/pages/usage/tools/listmemories.md
  site/src/pages/usage/tools/listworkflows.md
  site/src/pages/usage/tools/memorystatus.md
  site/src/pages/usage/tools/movememory.md
  site/src/pages/usage/tools/readmemory.md
  site/src/pages/usage/tools/recentactivity.md
  site/src/pages/usage/tools/repairconcepts.md
  site/src/pages/usage/tools/runfullbenchmark.md
  site/src/pages/usage/tools/searchmemories.md
  site/src/pages/usage/tools/sequentialthinking.md
  site/src/pages/usage/tools/sync.md
  site/src/pages/usage/tools/updateassets.md
  site/src/pages/usage/tools/visualize.md
  site/src/pages/usage/tools/workflow.md
  site/src/pages/usage/tools/writememory.md
Labels: documentation, configuration

fix(site): update base URL for custom domain maenifold.com
  site/astro.config.mjs
Labels: none

feat(site): improve branding and architecture diagram
  site/public/assets/branding/maenifold-icon.svg
  site/public/assets/diagrams/cognitive-stack.svg
  site/src/layouts/Base.astro
  site/src/pages/index.mdx
Labels: none

feat(site): redesign landing page and add Get Started page
  site/public/assets/branding/maenifold-logo.svg
  site/src/layouts/Base.astro
  site/src/layouts/Landing.astro
  site/src/pages/index.mdx
  site/src/pages/start.mdx
Labels: none

fix: sync README to start.mdx instead of index.mdx
  site/.astro/settings.json
  site/public/assets/branding/maenifold-logo.svg
  site/public/graph-data.json
  site/scripts/sync-docs.mjs
  site/src/pages/index.mdx
  site/src/pages/start.mdx
  site/src/pages/usage/tools/addmissingh1.md
  site/src/pages/usage/tools/adopt.md
  site/src/pages/usage/tools/analyzeconceptcorruption.md
  site/src/pages/usage/tools/buildcontext.md
  site/src/pages/usage/tools/deletememory.md
  site/src/pages/usage/tools/editmemory.md
  site/src/pages/usage/tools/extractconceptsfromfile.md
  site/src/pages/usage/tools/findsimilarconcepts.md
  site/src/pages/usage/tools/getconfig.md
  site/src/pages/usage/tools/gethelp.md
  site/src/pages/usage/tools/listmemories.md
  site/src/pages/usage/tools/listworkflows.md
  site/src/pages/usage/tools/memorystatus.md
  site/src/pages/usage/tools/movememory.md
  site/src/pages/usage/tools/readmemory.md
  site/src/pages/usage/tools/recentactivity.md
  site/src/pages/usage/tools/repairconcepts.md
  site/src/pages/usage/tools/runfullbenchmark.md
  site/src/pages/usage/tools/searchmemories.md
  site/src/pages/usage/tools/sequentialthinking.md
  site/src/pages/usage/tools/sync.md
  site/src/pages/usage/tools/updateassets.md
  site/src/pages/usage/tools/visualize.md
  site/src/pages/usage/tools/workflow.md
  site/src/pages/usage/tools/writememory.md
Labels: documentation, configuration

fix: empty index.mdx for clean landing page
  site/public/graph-data.json
  site/src/pages/index.mdx
Labels: configuration

fix: use Base layout for start page to remove hero card
  site/scripts/sync-docs.mjs
  site/src/pages/start.mdx
Labels: none

fix: convert start page to Astro component like usage page
  site/public/graph-data.json
  site/scripts/sync-docs.mjs
  site/src/pages/start.astro
  site/src/pages/start.mdx
Labels: configuration

remove broken start page
  site/src/pages/start.astro
Labels: none

add start page copied from usage
  site/src/pages/start.astro
Labels: none

fix: remove glob from start page
  site/src/pages/start.astro
Labels: none

add README content card to start page
  site/src/pages/start.astro
Labels: none

create proper start.mdx page with README content
  site/src/pages/start.astro
  site/src/pages/start.mdx
Labels: none

fix: make graph image responsive
  site/src/pages/start.mdx
Labels: none

commit
  README.md
Labels: documentation

feat: add multi-platform release automation with optimized npm distribution
  .github/workflows/release.yml
  RELEASE_SUMMARY.md
  docs/NPM_PUBLISHING.md
  docs/QUICK_RELEASE_GUIDE.md
  package.json
  scripts/create-platform-packages.sh
  scripts/maenifold.js
  scripts/postinstall.js
Labels: documentation, configuration, github-actions, dependencies

fix: Windows build in release workflow
  .github/workflows/release.yml
Labels: configuration, github-actions

fix: allow Dependabot PRs to target main directly
  .github/workflows/branch-policy.yml
Labels: configuration, github-actions

fix: skip build in prepublishOnly for npm publish
  package.json
Labels: configuration, dependencies

fix: add README.md to platform packages
  scripts/create-platform-packages.sh
Labels: none

chore: bump version to 1.0.1
  package.json
Labels: configuration, dependencies

chore: bump version to 1.0.2
  package.json
  src/Maenifold.csproj
Labels: configuration, dependencies

fix: platform packages use version from main package.json
  scripts/create-platform-packages.sh
Labels: none

Reset version to 1.0.0 for authorized release
  package.json
Labels: configuration, dependencies

Update package description to match README
  package.json
Labels: configuration, dependencies

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on file paths changed

# Core source code changes
core:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.cs'

# Tool changes
tools:
  - changed-files:
    - any-glob-to-any-file: 'src/Tools/**/*.cs'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'
    - any-glob-to-any-file: 'test-outputs/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.toml'
      - '**/*.props'
      - '**/*.csproj'

# GitHub Actions changes
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/MemoryTools.Write.cs'
      - '**/*Security*.cs'
      - '**/*Auth*.cs'
      - '**/*Validation*.cs'

# Performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/PerformanceBenchmark.cs'
      - '**/GraphTools.cs'
      - '**/VectorTools.cs'

# VSCode extension changes
vscode:
  - changed-files:
    - any-glob-to-any-file:
      - 'vscode/**/*'
      - 'visx/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/packages.lock.json'
      - '**/*.csproj'
      - '**/package.json'
      - '**/package-lock.json'
