Repository MSBrett/maenifold, changes with the labels that .github/labeler.yml gives for each.
All labels: core, tools, tests, documentation, configuration, github-actions, security, performance, vscode, dependencies

Update Dual Interface card icon to plug emoji
  site/src/layouts/Landing.astro
Labels: none

Add DocsLayout frontmatter to all tool pages
  site/scripts/add-frontmatter.sh
  site/src/pages/usage/tools/addmissingh1.md
  site/src/pages/usage/tools/adopt.md
  site/src/pages/usage/tools/analyzeconceptcorruption.md
  site/src/pages/usage/tools/assumptionledger.md
  site/src/pages/usage/tools/buildcontext.md
  site/src/pages/usage/tools/deletememory.md
  site/src/pages/usage/tools/editmemory.md
  site/src/pages/usage/tools/extractconceptsfromfile.md
  site/src/pages/usage/tools/findsimilarconcepts.md
  site/src/pages/usage/tools/getconfig.md
  site/src/pages/usage/tools/gethelp.md
  site/src/pages/usage/tools/listmemories.md
  site/src/pages/usage/tools/listworkflows.md
  site/src/pages/usage/tools/memorystatus.md
  site/src/pages/usage/tools/movememory.md
  site/src/pages/usage/tools/readmemory.md
  site/src/pages/usage/tools/recentactivity.md
  site/src/pages/usage/tools/repairconcepts.md
  site/src/pages/usage/tools/runfullbenchmark.md
  site/src/pages/usage/tools/searchmemories.md
  site/src/pages/usage/tools/sequentialthinking.md
  site/src/pages/usage/tools/sync.md
  site/src/pages/usage/tools/updateassets.md
  site/src/pages/usage/tools/visualize.md
  site/src/pages/usage/tools/workflow.md
  site/src/pages/usage/tools/writememory.md
Labels: documentation

Add complete prose styling to DocsLayout for tool pages
  site/src/layouts/DocsLayout.astro
Labels: none

fix: add DocsLayout prose styles and frontmatter to tool pages
  site/src/layouts/Landing.astro
  src/Maenifold.csproj
Labels: configuration, dependencies

feat(RTM-QUICKSTART): Create Quick Start page from README lines 152-215
  site/app/start/page.tsx
Labels: none

feat(COGNITIVE-ASSETS): Create showcase page with exact content from README lines 33-72
  site/app/cognitive-assets/page.tsx
Labels: none

feat(RTM-LANDING-PAGE): Copy README hero and 'What maenifold does' to Next.js landing page
  site/app/page.tsx
  site/public/assets/branding/graph.jpeg
  site/public/assets/branding/maenifold-logo.svg
Labels: none

feat(Wave-1A.5): Initialize Next.js 16 project with App Router
  site/.eslintrc.json
  site/.gitignore
  site/.prettierrc
  site/README.md
  site/app/cognitive-assets/page.tsx
  site/app/favicon.ico
  site/app/globals.css
  site/app/layout.tsx
  site/app/page.tsx
  site/app/start/page.tsx
  site/eslint.config.mjs
  site/next.config.ts
  site/package-lock.json
  site/package.json
  site/postcss.config.mjs
  site/public/assets/branding/graph.jpeg
  site/public/assets/branding/maenifold-logo.svg
  site/public/file.svg
  site/public/globe.svg
  site/public/next.svg
  site/public/vercel.svg
  site/public/window.svg
  site/tsconfig.json
Labels: documentation, configuration, dependencies

feat(RTM-020): Install and configure Tailwind CSS 4.0 with dark mode
  site/app/globals.css
  site/app/page.tsx
  site/package-lock.json
  site/package.json
  site/postcss.config.mjs
Labels: configuration, dependencies

feat(RTM-B3-404): Setup 404 error handling for static export
  site/app/not-found.tsx
  site/public/.nojekyll
Labels: none

feat(RTM-2A0): Create navigation system (Header, Footer) and integrate into layout
  site/app/components/Footer.tsx
  site/app/components/Header.tsx
  site/app/layout.tsx
Labels: none

feat(RTM-2A5): Create Technical Specs page with exact technical details from README
  site/app/docs/technical-specs/page.tsx
Labels: none

feat(RTM-2A2): Create Quick Start page with installation and MCP configuration guides
  site/app/start/page.tsx
Labels: none

feat(RTM-2A3): Create Architecture page with Cognitive Stack explanation
  site/app/docs/architecture/page.tsx
Labels: none

feat(RTM-2A4): Create Philosophy page with Ma Protocol principles and What We Don't Do content
  docs/status-tracking/00-CITATION-REVIEW-START-HERE.md
  docs/status-tracking/2025-10-28-404-handling-task.md
  docs/status-tracking/2025-10-28-PRD-completion-to-100.md
  docs/status-tracking/2025-10-28-RTM-B1-next-config.md
  docs/status-tracking/2025-10-28-github-actions-failure-handling-research.md
  docs/status-tracking/2025-10-28-maenifold-site-PRD.md
  docs/status-tracking/2025-10-28-wave-1a5-initialization.md
  docs/status-tracking/2025-10-28-wave-1a5-summary.md
  docs/status-tracking/CITATION-REVIEW-SUMMARY.md
  docs/status-tracking/CITATION-VERIFICATION-CHECKLIST.md
  docs/status-tracking/FEASIBILITY-REVIEW-INDEX.md
  docs/status-tracking/PRD-ACTION-ITEMS.md
  docs/status-tracking/PRD-EXEC-SUMMARY.md
  docs/status-tracking/PRD-REVIEW-INDEX.md
  docs/status-tracking/PRD-citation-accuracy-review.md
  docs/status-tracking/PRD-citation-verification-session.md
  docs/status-tracking/PRD-risk-assessment-review.md
  docs/status-tracking/PRD-scope-gaps-review.md
  docs/status-tracking/PRD-technical-feasibility-review.md
  docs/status-tracking/github-actions-failure-handling.md
  docs/status-tracking/github-actions-pages-deployment.md
  docs/status-tracking/github-pages-official-requirements.md
  docs/status-tracking/link-validation-methods.md
  docs/status-tracking/link-validation-research-findings.md
  docs/status-tracking/nextjs-404-handling-static-export.md
  docs/status-tracking/nextjs-official-search-guidance.md
  docs/status-tracking/nextjs-static-export-official-docs.md
  docs/status-tracking/pagefind-nextjs-integration.md
  docs/status-tracking/tailwind-nextjs-official-integration.md
  site/app/docs/philosophy/page.tsx
  site/app/page.tsx
  site/next.config.ts
Labels: documentation

feat(Wave-3C): Create dynamic tool pages for all 26 Maenifold tools
  site/app/tools/[slug]/page.tsx
  site/app/tools/page.tsx
  site/lib/tools.ts
  site/package-lock.json
  site/package.json
  site/tsconfig.json
Labels: configuration, dependencies

feat(Landing): Simplify landing page to single-screen design with feature cards and modes
  site/app/components/Footer.tsx
  site/app/components/Header.tsx
  site/app/docs/philosophy/page.tsx
  site/app/page.tsx
  site/public/assets/branding/graph.jpeg
  site/public/assets/branding/maenifold-logo.svg
Labels: none

fix(Tools): Update tool pages for Next.js 16 params API and improve layout
  site/app/tools/[slug]/page.tsx
  site/lib/tools.ts
Labels: none

fix(CI): Update deploy workflow to use site/out instead of site/dist
  .github/workflows/deploy-pages.yml
Labels: configuration, github-actions

fix(CRITICAL): Remove basePath for custom domain www.maenifold.com
  site/app/components/Header.tsx
  site/next.config.ts
Labels: none

fix: Remove /maenifold/ prefix from tool links on tools page
  site/app/tools/page.tsx
Labels: none

chore: Clean up status tracking docs and update gitignore
  .gitignore
  docs/status-tracking/00-CITATION-REVIEW-START-HERE.md
  docs/status-tracking/2025-10-27-layout-fixes.md
  docs/status-tracking/2025-10-28-404-handling-task.md
  docs/status-tracking/2025-10-28-PRD-completion-to-100.md
  docs/status-tracking/2025-10-28-RTM-B1-next-config.md
  docs/status-tracking/2025-10-28-github-actions-failure-handling-research.md
  docs/status-tracking/2025-10-28-github-pages-site-research.md
  docs/status-tracking/2025-10-28-maenifold-site-PRD.md
  docs/status-tracking/2025-10-28-wave-1a5-initialization.md
  docs/status-tracking/2025-10-28-wave-1a5-summary.md
  docs/status-tracking/CITATION-REVIEW-SUMMARY.md
  docs/status-tracking/CITATION-VERIFICATION-CHECKLIST.md
  docs/status-tracking/FEASIBILITY-REVIEW-INDEX.md
  docs/status-tracking/PRD-ACTION-ITEMS.md
  docs/status-tracking/PRD-EXEC-SUMMARY.md
  docs/status-tracking/PRD-REVIEW-INDEX.md
  docs/status-tracking/PRD-citation-accuracy-review.md
  docs/status-tracking/PRD-citation-verification-session.md
  docs/status-tracking/PRD-risk-assessment-review.md
  docs/status-tracking/PRD-scope-gaps-review.md
  docs/status-tracking/PRD-technical-feasibility-review.md
  docs/status-tracking/README-content-extraction-2025-10-28.md
  docs/status-tracking/github-actions-failure-handling.md
  docs/status-tracking/github-actions-pages-deployment.md
  docs/status-tracking/github-pages-official-requirements.md
  docs/status-tracking/link-validation-methods.md
  docs/status-tracking/link-validation-research-findings.md
  docs/status-tracking/nextjs-404-handling-static-export.md
  docs/status-tracking/nextjs-official-search-guidance.md
  docs/status-tracking/nextjs-static-export-official-docs.md
  docs/status-tracking/pagefind-nextjs-integration.md
  docs/status-tracking/tailwind-nextjs-official-integration.md
Labels: documentation

docs: Add comprehensive PRD for landing page redesign
  docs/PRD-landing-page-redesign.md
Labels: documentation

docs: Add RTM and sprint baseline for landing page redesign
  RTM.md
  sprint-baseline.txt
Labels: documentation

docs: Add comprehensive specifications for landing page redesign implementation
  SPECIFICATIONS.md
Labels: documentation

docs: Add comprehensive agent dispatch plan for 5-wave implementation
  AGENT-DISPATCH-PLAN.md
Labels: documentation

feat(REQ-1.2): Add GPU-accelerated animation keyframes for network and text effects
  site/app/globals.css
Labels: none

feat(REQ-1.3): Add Deep Knowledge color palette to Tailwind config
  site/tailwind.config.ts
Labels: none

feat(REQ-1.1): Add NetworkBackground component with animated SVG network
  site/app/components/NetworkBackground.tsx
Labels: none

docs(RTM): Mark REQ-1.1, 1.2, 1.3 complete after Wave 1 Foundation
  RTM.md
Labels: documentation

feat(REQ-1.1): Integrate NetworkBackground into landing page
  site/app/components/NetworkBackground.tsx
  site/app/page.tsx
Labels: none

feat(REQ-3.1, REQ-3.3): Add AnimatedText component with gradient shimmer effect
  site/app/components/AnimatedText.tsx
Labels: none

feat(REQ-2.1-2.3): Add GlassCard component with glassmorphism and 3D tilt
  site/app/components/GlassCard.css
  site/app/components/GlassCard.tsx
Labels: none

feat(REQ-3.2): Add animated gradient mesh background
  site/app/globals.css
  site/app/page.tsx
Labels: none

feat(REQ-2.1-3.3): Integrate GlassCard and AnimatedText into landing page
  site/app/page.tsx
Labels: none

docs(REQ-3.4): WCAG 2.1 Level AA contrast validation complete - all requirements PASS
  site/wave3b-wcag-validation.md
Labels: documentation

feat(REQ-4.1): Add button ripple effects to primary CTAs
  site/app/components/RippleButton.tsx
  site/app/page.tsx
Labels: none

feat(REQ-4.3): Add staggered fade-in page load animation
  site/app/globals.css
  site/app/page.tsx
Labels: none

feat(REQ-4.2): Add enhanced hover states to all interactive elements
  site/app/page.tsx
Labels: none

test(REQ-T.3,T.4): Add comprehensive accessibility testing report with manual WCAG validation
  site/lighthouse-performance.report.html
  site/lighthouse-performance.report.json
  site/lighthouse-production.report.html
  site/lighthouse-production.report.json
  site/wave5a-performance-testing.md
  site/wave5b-accessibility-testing.md
Labels: documentation, configuration

.github/labeler.yml:

# Configuration for actions/labeler
# Automatically labels PRs based on file paths changed

# Core source code changes
core:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.cs'

# Tool changes
tools:
  - changed-files:
    - any-glob-to-any-file: 'src/Tools/**/*.cs'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'
    - any-glob-to-any-file: 'test-outputs/**/*'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.toml'
      - '**/*.props'
      - '**/*.csproj'

# GitHub Actions changes
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/MemoryTools.Write.cs'
      - '**/*Security*.cs'
      - '**/*Auth*.cs'
      - '**/*Validation*.cs'

# Performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/PerformanceBenchmark.cs'
      - '**/GraphTools.cs'
      - '**/VectorTools.cs'

# VSCode extension changes
vscode:
  - changed-files:
    - any-glob-to-any-file:
      - 'vscode/**/*'
      - 'visx/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/packages.lock.json'
      - '**/*.csproj'
      - '**/package.json'
      - '**/package-lock.json'
